<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697732616282-9g9tqret2jvoh5h4heb0qag79vsh5vbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697732616282-9g9tqret2jvoh5h4heb0qag79vsh5vbs</string>
	<key>API_KEY</key>
	<string>AIzaSyA-v0ZD5LUfVaIYK-y1vcaACuEDQenAwdM</string>
	<key>GCM_SENDER_ID</key>
	<string>697732616282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cagape.opmsapp</string>
	<key>PROJECT_ID</key>
	<string>opms-project</string>
	<key>STORAGE_BUCKET</key>
	<string>opms-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697732616282:ios:c0ad5397daa9c64bba0863</string>
</dict>
</plist>